@import 'mixins.less';

body {
	padding-top: 40px;
}

#container, #code, #preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y:hidden;
}

#container {
	top: 80px;
}

#code {
	right: 50%;
}

#preview {
	left: 50%;
}

#code > textarea, #code .CodeMirror-scroll {
	position: absolute;
	width: 100%;
	height: 100%;
}

#code > textarea {
	outline: none;
	.box-sizing(border-box);
	border: 1px solid #eee;
	border-right: none;
}

#code .CodeMirror-scroll, #preview > iframe {
	border-top: 1px solid #eee;
}

#preview > iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

#splitter {
	position: absolute;
	width: 4px;
	height: 100%;
	left: 50%;
	background-color: #fff;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}

#splitter:hover, #splitter:active {
	cursor: col-resize;
	background-color: #eee;
}

#dragSurface {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: transparent;
	cursor: col-resize;
}

#toolbar {
	margin: 6px 0 0 5px;
}

#toolbar > * {
	vertical-align: middle;
}

.icon-16x16 {
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}

#toolbar .btn {
	padding: 4px 6px;
}

#toolbar select {
	margin-bottom: 0;
	width: auto;
}

.colorpicker input {
	width: auto;
	line-height: normal;
	.box-shadow(0);
	.transition(none);
}

.colorpicker input:focus {
	outline: none;
	.box-shadow(none);
}

#toolbar button[data-tool='strong'] > i {
	background-image: url(../img/bold.png);
}

#toolbar button[data-tool='em'] > i {
	background-image: url(../img/italic.png);
}

#toolbar button[data-tool='u'] > i {
	background-image: url(../img/underline.png);
}

#toolbar button[data-tool='del'] > i {
	background-image: url(../img/strike.png);
}

#toolbar button#imgInsert > i {
	background-image: url(../img/image-add.png);
}

#toolbar button[data-tool='a'] > i {
	background-image: url(../img/link-add.png);
}

#toolbar button[data-tool='add'] > i {
	background-image: url(../img/slide-add.png);
}

#toolbar button[data-tool='delete'] > i {
	background-image: url(../img/slide-delete.png);
}

#toolbar button[data-tool='prev'] > i {
	background-image: url(../img/previous-slide.png);
}

#toolbar button[data-tool='next'] > i {
	background-image: url(../img/next-slide.png);
}

#toolbar button[data-tool='save'] > i {
	background-image: url(../img/file-save.png);
}

#toolbar button[data-tool='clone'] > i {
	background-image: url(../img/file-clone.png);
}

#toolbar button[data-tool='saveAs'] > i {
	background-image: url(../img/file-saveas.png);
}

#toolbar button[data-tool='rmFile'] > i {
	background-image: url(../img/file-delete.png);
}

#toolbar a#fullscreen > i {
	background-image: url(../img/slideshow.png);
}

#toolbar button[data-tool='font'] > i {
    background-image: url(../img/text-font.png);
}

#toolbar button#themeDropdown > i {
	background-image: url(../img/image-sunset.png);
}

#colorpickertool > button > i {
    background-image: url(../img/edit-color.png);
    position: relative; /* need this to precisely position the color indicator */
}

#colorpickertool #colorindicator {
	display: block;
	background-color: black;
	
	position: absolute;
	left: 0;
	top: 13px;
	width: 16px;
	height: 3px;
}