<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>HTML5 Slide Maker</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
    
    <link rel=stylesheet href="lib/codemirror/lib/codemirror.css">
  <link rel="stylesheet" media="screen" type="text/css" href="lib/colorpicker/css/colorpicker.css" />
  <link rel="shortcut icon" href="img/slide.png"> 
  <script>
    var slideshowID = <%= id ? "'" + id + "'" : "null" %>;
  </script>
	<script src="lib/jquery-1.7.2.min.js"></script>
	<script src="nowjs/now.js"></script>
    <script src="js/template.js"></script>
	<script src="js/editor.js"></script>
    <script src="lib/codemirror/lib/codemirror.js"></script>
    <script src="lib/codemirror/lib/util/search.js"></script>
    <script src="lib/codemirror/mode/xml/xml.js"></script>
    <script src="lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="lib/codemirror/mode/css/css.js"></script>
    <script src="lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="lib/codemirror/lib/util/closetag.js"></script>
	<script src="lib/colorpicker/js/colorpicker.js" type="text/javascript"></script>

</head>
<body>
	<header>
		<h1><a href=".">HTML5 Slide Maker</a></h1>
	</header>

  <div id="toolbar">
  	<a href="javascript:void(0)" data-tool="save"><span>Save</span></a>
  	<!--<a href="javascript:void(0)" data-tool="saveAs"><span>Duplicate</span></a>
  	File<select id="files"><option value=""></option></select>  
  	<a href="javascript:void(0)" data-tool="rmFile"><span>Delete</span></a>-->
    <a href="" target="_blank" class="hidden" id="fullscreen"><span>Show fullscreen</span></a>
    &nbsp;
    <select id="templates"></select>
    <a href="javascript:void(0)" data-tool="add"><span>Add slide</span></a>
    <a href="javascript:void(0)" data-tool="delete"><span>Delete slide</span></a>
    &nbsp;
    <a href="javascript:void(0)" data-tool="strong" title="Bold"><span class="icon" /></a>
    <a href="javascript:void(0)" data-tool="em" title="Italic"><span class="icon" /></a>
    <a href="javascript:void(0)" data-tool="u" title="Underline"><span class="icon" /></a>
    <a href="javascript:void(0)" data-tool="del" title="Strikethrough"><span class="icon" /></a>
    <a href="javascript:void(0)" id="colorpicker" title="Text color"></a>
    &nbsp;
    <a href="javascript:void(0)" data-tool="img" title="Insert image"><span class="icon" /></a>
    <a href="javascript:void(0)" data-tool="a" title="Insert link"><span class="icon" /></a>
	&nbsp;
    <a href="javascript:void(0)" data-tool="prev" title="Previous slide"><span class="icon" /></a>
    <span id="selectedSlide"></span> sur <span id="totalSlides"></span>
    <a href="javascript:void(0)" data-tool="next" title="Next slide"><span class="icon" /></a>
  </div>

	<section id="container">
		<section id="code">
      <textarea id="editor" onclick="this.select();"><%= input %></textarea>
		</section>

		<section id="preview">
			<iframe></iframe>
		</section>

    <div id="splitter"></div>
	</section>
</body>
</html>