/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body {
	font-family: sans-serif;
}

header {
    background: url(css/header.png) repeat-x;
    height: 40px;
    padding-bottom: 10px;
}

header > h1 {
	font-size: 26px;
    padding: 8px;
    color: #222;
    text-shadow: 1px 1px 1px #f5f5f5;
}

header > h1 a {
    color: #222;
    text-decoration: none;
}

#toolbar {
    height: 20px;
    padding: 0 5px 5px 5px;
}

#container, #code, #preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y:hidden;
}

#container {
	top: 80px;
}

#code {
	right: 50%;
}

#preview {
	left: 50%;
}

#code > textarea, #code .CodeMirror-scroll {
    position: absolute;
    width: 100%;
    height: 100%;
}

#code > textarea {
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
    border: 1px solid #eee;
    border-right: none;
}

#code .CodeMirror-scroll, #preview > iframe {
	border-top: 1px solid #eee;
}

#preview > iframe {
	width: 100%;
	height: 100%;
}

#splitter {
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#splitter:hover, #splitter:active {
    cursor: col-resize;
    background-color: #eee;
}

#dragSurface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: transparent;
    cursor: col-resize;
}

#toolbar > * {
    vertical-align: text-bottom;
}

.button > img {
    height: 16px;
    width: 16px;
    
    padding: 3px;

    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #f9f9f9;
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ededed 100%);
    background: -o-linear-gradient(top,  #f9f9f9 0%,#ededed 100%);
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#ededed 100%);
    background: linear-gradient(top,  #f9f9f9 0%,#ededed 100%);
}

.button > img:hover {
    background: #f9f9f9;
}

.button > img:active {
    background: #ededed;
}

#colorpicker > img {
    background-color: #000;
}